<%- layout('layout') %>
    <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3"><br>
            <% if (success.length > 0 ) { %>
            <div class="col-sm-12 col-xs-12 col-lg-12">
              <div class="alert alert-success alert-dismissible text-center" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <strong> <%= success %> </strong>
              </div>
            </div>
            <% } %>

              <!-- Error status message -->
            <% if (failure.length > 0 ) { %>
            <div class="col-sm-12 col-xs-12 col-lg-12">
              <div class="alert alert-danger alert-dismissible text-center" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <strong><%= failure %> </strong>
              </div>
            </div>
            <% } %>
            <br>
            <div class="row">
              <div class="col-md-6">
                <form action="/tags/add" method="post" id="tagsAdd">
                  <span class="form-group">
                    <input type="text" class="form-control" placeholder="Add Tags" name="tagList" id="tag">
                    <input type="hidden" id="email" name="email" value="">
                  </span>
                </form>
              </div>
              <% if(!tags.length == 0) { %>
              <div class="col-md-6">
                <form action="/search/tags" method="post", id="tagSearchForm">
                  <span class="form-group">
                    <input type="text" class="form-control" placeholder="Search Tags" name="tagsearch" id="tagSearch">
                  </span>
                </form>
              </div>
              <% } %>
            </div>
          </div>
          <br><br>
          <% if (!tags == '') { %>
            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3 tagData">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Tag</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                        <tbody id="searchResult">
                            <% for(var i = 0; i < tags.length; i++) { %>
                                <tr>
                                    <td>
                                        <%= i+1 %>
                                    </td>
                                    <td>
                                        <a href="/tags/<%= tags[i].tag_name %>"><%= tags[i].tag_name %></a>
                                    </td>
                                    <td><a type="button" name="edit" class="btn btn-default" href="/tags/edit/<%= tags[i].tag_name %>">Edit</a></td>
                                    <td><a type="button" name="Delete" class="btn btn-danger" href="/tags/delete/<%= tags[i].tag_name %>">Delete</a></td>
                                </tr>
                                <% } %>
                        </tbody>
                    </thead>
                </table>
            </div>
            <% } %>
        </div>
    </div>
